.homepage-header {
  background-color: #282c34;
  padding:2px;
  font-size: calc(2vmin);
  color: white;
}
.homepage-login-register{
  float:right;
  font-size: calc(2vmin);
  color: black;
}
.searchBar{
  display: flex;
  flex-direction: row;
}
